body {
  margin: 0;
  padding: 0;
}

.one {
  margin: 25px auto;
  width: 400px;
  height: 400px;
  background-color: #3590ff;
  border: 2px solid #191a70;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.two {
  width: 100px;
  height: 100px;
  background-color: #db7093;
  border: 2px solid #800000;
  text-align: center;
  margin: 0 auto;
}